* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  font-family: "Caudex", 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 2rem;
}

.audio {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 30px;
  left: 30px;
  cursor: pointer;
  background-color: #00000000;
  z-index: 5;
}